*{
    margin: 0;
    padding: 0;
    
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(207, 18, 18, 0.4)), 
    ;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    background-color: rgb(202, 207, 207);
   position: inherit;
}
.logo{
    margin-top: 20px;
    width: 150px;
    

}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
    
    
}

nav ul{
    flex: 1;
    text-align: right;
    padding: 40px;
    
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1px 25px;
    
    
}
nav ul li a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    

}
nav ul li a:hover{
    color: #41e7d9;

}
.upload-btn{
    background: #41e7d9 ;
    color: rgb(17, 16, 16);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 30px;
    margin-left: 25px;
    transition: 0.5s;
}
.uoload-btn:hover{
    transform: scale(0.9);
}
.Content{
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(22, 20, 20);
}
.Content h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 10px;
}
img {
    float: left;
    margin: 5px;
    
    

}
p {
    text-align:justify;
    font-size: 30px;
    font-family:inherit;
    
    
    
    
}
button {
    width: 100px;
    height: 100px;
    background: rgb(202, 207, 207);
    transition: width 2s;
    font-style: unset;
  }
  
button:hover {
    width: 300px;
  }
#dicine{
    
    color: black;
    padding: 10px;
    text-align: center;
    border-style:solid
    
  } 
  #design_p{
    
    color: black;
    padding: 10px;
    text-align: center;
    
  } 
#link{
    padding-left: 100px;
   
    
}
nav ul.b{
    flex: 1;
    text-align: left;
    padding: 40px;
    
}
#course_link_design{
    border-style: inset;

}
.course_link_design{
    tab-size: 4;
    
}
body {font-family: Arial, Helvetica, sans-serif;
}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ec0d0d;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
